.page-content {
  margin-top: 10px;
  padding-left: 10px
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* NAVBAR */

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.navbar {
  height: 82px;
}
.navbar a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.navbar-brand {
  font-size: 25px!important;
}
.nav-item {
  font-size: 18px;
}