---
--- 

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-content {
  margin: 3vh 15vw 0 10vw;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* NAVBAR */

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.navbar {
  height: 8vh;
}
.navbar a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.navbar-brand {
  font-size: 3vh!important;
  padding-left: 3vh;
}
.nav-item {
  font-size: 2vh;
  margin: 1.5vh;
}
.navbar-nav {
  margin-right: 3vh;
}
.navbar-collapse {
    background: white;
}
